@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.hero {
  background-color: #f9f9f9;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
}
.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}
nav {
  width: 100%;
}
section {
  width: 100%;
}

.hero-main {
  display: flex;
  align-items: center;
  gap: 10rem;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 9rem;
  background-color: #fff;
  display: flex;
  font-size: 1.8rem;
}
.navigation h2 {
  margin-left: 4rem;
  cursor: pointer;
}
.navigation ul {
  display: flex;
  margin-right: 5rem;
  gap: 5rem;
}
.navigation ul li a {
  color: black;
  font-weight: 600;
}

.hero-icon-wrapper {
  width: 4rem;
  height: 4rem;
}
.hero-icon-wrapper img {
  width: 100%;
  height: 100%;
}

.hero-text-img {
  width: 8rem;
  height: 8rem;
  position: absolute;
  right: 10rem;
  top: 8.5rem;
}
.hero-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}
.hero-text h1 {
  font-size: 5.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.hero-text p {
  color: #555;
  font-size: 1.7rem;
  font-weight: 300;
  margin-top: 1rem;
}
.hero-icon-wrapper {
  margin-top: 3rem;
}

.skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10rem 0 5rem 0;
}
.skills p {
  font-size: 2.1rem;
  border-right: 3px solid black;
  padding-right: 2rem;
  font-weight: 600;
}
.skills-logos {
  margin-left: 5rem;
}
.skills-logos ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.skills-logos ul li {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.09);
}
.skills-logos ul li img {
  width: 100%;
  height: 100%;
}
/* ABOUT SECTION */

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin-bottom: 7rem;
  padding-top: 5rem;
}
.underline {
  width: 10rem;
  height: 0.2rem;
  background-color: black;
}
.about-header h2 {
  font-size: 4rem;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.about-header p {
  color: #555;
  font-size: 1.7rem;
  font-weight: 300;
  text-align: center;
  max-width: 100rem;
}

/* GRID */
.my-skills {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  grid-row-gap: 4rem;
}

.my-skill {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.my-skill:nth-child(1) {
  grid-column: 4/7;
  grid-row: 1/3;
}

.my-skill:nth-child(2) {
  grid-column: 3/6;
  grid-row: 3/5;
}

.my-skill:nth-child(3) {
  grid-column: 4/7;
  grid-row: 5/-1;
}

.my-skill:nth-child(4) {
  grid-column: 11/14;
  grid-row: 1/3;
}

.my-skill:nth-child(5) {
  grid-column: 12/15;
  grid-row: 3/5;
}

.my-skill:nth-child(6) {
  grid-column: 11/14;
  grid-row: 5/-1;
}

.my-skill-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}

.my-skill-header i {
  font-size: 4rem;
  color: #4b4b4b;
  margin-right: 2rem;
}

.my-skill-header h3 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

.my-skill-text {
  font-family: "Josefin Slab", serif;
  font-size: 1.6rem;
  text-align: center;
}
.my-skills-circle {
  margin-top: 5rem;
  margin-left: 2rem;
  grid-column: 7/11;
  grid-row: 2/6;
  display: flex;
  position: relative;
  width: 21rem;
  height: 21rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("./images/developer.png");
  background-repeat: no-repeat;
  background-position: center;
}

.circle-text {
  width: 100%;
  height: 100%;
  position: absolute;
  animation: anim 10s linear infinite;
  display: flex;
}
.circle-text p {
  font-size: 1.3rem;
  font-weight: 600;
}
@keyframes anim {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.circle-text span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 10rem;
}

/* BUTTON TO SCROLL  TO TOP */
/* ДА ГО СЛОЖА НАЙ-ОТДОЛУ В CSS ФАЙЛА, СЛЕД КАТО ДОБАВЯ ВСИЧКИ
СТИЛИЗАЦИИ */
#arrow-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  padding: 15px;
}
/* PROJECTS */
.projects {
  background-color: #f9f9f9;
  padding-top: 5rem;
}
.prokects-content {
  display: flex;
  flex-direction: column;
}
.project-content-header h3 {
  color: #147efb;
  font-size: 2.5rem;
}
.project-content-header h2 {
  font-size: 3rem;
}
.all-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 0;
  padding: 5rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 30rem;
}
.project-img-wrapper {
  width: 55rem;
  border-radius: 1.7rem;
  overflow: hidden;
}
.project-img-wrapper img {
  width: 100%;
}
.project-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  gap: 2.5rem;
}

.project-description h1 {
  font-size: 2.2rem;
  text-align: center;
}

.project-description p {
  font-size: 1.7rem;
  text-align: center;
  color: #767676;
  font-weight: 500;
  text-align: center;
  text-transform: none;
}
.tech-skills {
  display: flex;
  gap: 2rem;
}
.tech-skills p {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000 !important;
  font-weight: 600 !important;
  padding: 0.5rem 1rem;
}
.code-demo {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 2rem;
}
.code-demo a {
  color: #2d2e32;
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.projects-div-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  margin: 5rem 0;
  padding: 5rem;
  background-color: white;
  border-radius: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 30rem;
}
/* CONTACTS */

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 10rem 0;
}

.contact-content-header h3 {
  color: #147efb;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.contact-content-header h2 {
  font-size: 3rem;
}

.contact-content-contacts {
  display: flex;
  gap: 10rem;
}
.contact-content-contact {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.contact-content-img-wrapper {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 2rem;
}

.contact-content-info h3 {
  color: #2d2e32;
  font-size: 2rem;
}
.contact-content-info p {
  color: #767676;
  font-size: 1.7rem;
}
.contact-content-info p:hover {
  color: #147efb;
}
footer {
  padding: 5rem 0;
  background-color: #2d2e32;
}
footer h3 {
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
}
.img-span {
  padding-left: 1rem;
}

@media (max-width: 1000px) {
  .hero-main {
    margin-top: 5rem;
    flex-direction: column-reverse;
  }
  .hero-content {
    align-items: center;
  }
  .hero-text {
    max-width: 100rem;
  }
  .hero-text-img {
    display: none;
  }
  .projects-div {
    flex-direction: column;
    height: auto;
  }
  .projects-div-reverse {
    flex-direction: column;
    height: auto;
  }
}
@media (max-width: 765px) {
  .navigation {
    display: flex;
    flex-direction: column;
  }
  .projects-div {
    padding: 2rem 0;
  }
  .projects-div-reverse {
    padding: 2rem 0;
  }
  .skills-logos ul {
    gap: 1rem;
  }
  .skills-logos ul li {
    padding: 1rem;
  }

  .contact-content-contacts {
    flex-direction: column;
    gap: 5rem;
  }
  .contact-content-contact {
    flex-direction: column;
  }
  .contact-content-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #arrow-up {
    bottom: 0;
    right: 10px;
    padding: 0;
  }
  .project-img-wrapper {
    width: 35rem;
  }
}

@media (max-width: 590px) {
  .img-span {
    display: none;
  }
}

@media (max-width: 550px) {
  .navigation ul {
    margin-right: 0;
  }
  .skills {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
  .skills p {
    display: none;
  }
  .skills-logos {
    margin-left: 1rem;
  }
  .my-skills {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 450px) {
  .navigation ul {
    gap: 2rem;
  }
  .hero-text h1 {
    font-size: 4rem;
  }
  .about-header {
    margin-bottom: 0;
  }

  .skills-logos ul li {
    width: 3rem;
    height: 3rem;
  }
  .hero-img-wrapper{
    margin: 0rem !important;
  }
}
